{% extends "base.html" %} {% block content %} {% if session.username and
session.role == 'admin' %}
<h1 class="container text-center">Admin Page</h1>
<br />

<p class="container text-center">
  You can manage either users or the diary using the navbar above.
</p>

{% else %}

<h1 class="container text-center">Welcome to Camp Diary!</h1>
<br />

<h3 class="container text-center">Log in</h3>

<div class="container mt-5">
  <div class="col-6 mx-auto">
    <form action="/login" method="POST" autocomplete="off">
      <input
        type="text"
        name="username"
        class="form-control"
        placeholder="Username"
      />
      <br />
      <input
        type="password"
        name="password"
        class="form-control"
        placeholder="Password"
      />
      <br />
      <input type="submit" value="Login" class="form-control" />
    </form>
  </div>
</div>
{% endif %} {% endblock %}
