{% extends "base.html" %} {% block title%}Admin{% endblock %}{% block content %}

<!-- PARTICIPANT TABLE-->
<div>
  <h1 class="container text-center">Participants</h1>

  <br />

  <table class="table table-hover table-striped table-bordered align-middle">
    <thead>
      <tr>
        <th scope="col" class="col-1">User ID</th>
        <th scope="col" class="col-auto overflow-hidden">Username</th>
        <th scope="col" class="col-2">Counselor ID</th>
        <th scope="col" class="col-2">Delete User</th>
      </tr>
    </thead>
    <tbody>
      {% for participant in our_participants %}
      <tr>
        <th scope="row">{{participant.id}}</th>
        <td>{{participant.username}}</td>

        {% if participant.id in assigned_participants %} {% for assigned in
        assigned %} {% if participant.id == assigned.participant_id %}
        <td>{{assigned.counselor_id}}</td>
        {% endif %}{% endfor %} {% else %}

        <td>Not Assigned</td>
        {% endif %}
        <td>
          <button
            type="button"
            class="btn btn-danger"
            data-bs-toggle="modal"
            data-bs-target="#delete{{participant.id}}"
          >
            Delete User
          </button>
        </td>
      </tr>
      <div
        class="modal fade"
        id="delete{{participant.id}}"
        tabindex="-1"
        aria-labelledby="deleteModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="deleteModalLabel">
                Delete user?
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              Are you sure you want to delete {{ participant.username }}
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Cancel
              </button>
              <form>
                <button
                  class="btn btn-danger"
                  formaction="/admin/delete/{{participant.id}}"
                  data-bs-dismiss="modal"
                >
                  Delete
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </tbody>
  </table>
</div>

<br />

<!-- COUNSELOR TABLE-->
<div>
  <h1 class="container text-center">Counselors</h1>

  <br />

  <table class="table table-hover table-striped table-bordered align-middle">
    <thead>
      <tr>
        <th scope="col" class="col-1">User ID</th>
        <th scope="col" class="col-auto overflow-hidden">Username</th>
        <th scope="col" class="col-2">Assign Participants</th>
        <th scope="col" class="col-2">View Participants</th>
        <th scope="col" class="col-2">Delete User</th>
      </tr>
    </thead>
    <tbody>
      {% for user in our_users %} {% if user.role == 'counselor' %}
      <tr>
        <th scope="row">{{user.id}}</th>
        <td>{{user.username}}</td>
        <td>
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#assign{{user.id}}"
          >
            Assign
          </button>
        </td>
        <td>
          <button
            type="button"
            class="btn btn-info"
            data-bs-toggle="modal"
            data-bs-target="#view{{user.id}}"
          >
            View
          </button>
        </td>
        <td>
          <button
            type="button"
            class="btn btn-danger"
            data-bs-toggle="modal"
            data-bs-target="#delete{{user.id}}"
          >
            Delete User
          </button>
        </td>
      </tr>

      <!-- VIEW MODAL -->
      <div
        class="modal fade"
        id="view{{user.id}}"
        tabindex="-1"
        aria-labelledby="viewModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="viewModalLabel">
                Select participants and submit to unassign them from
                {{user.username}}.
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <form method="post">
              <div class="modal-body">
                <br />
                {% for participant in counselor_participants %} {% if
                participant[0] == user.id %}
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    name="selected_participants[]"
                    value="{{participant[1]}}"
                    id="checkUnassign{{participant[1]}}"
                  />
                  <label
                    class="form-check-label"
                    for="checkUnassign{{participant[1]}}"
                  >
                    {{participant[2]}}
                  </label>
                  <input
                    type="hidden"
                    name="csrf_token"
                    value="{{ session.csrf_token }}"
                  />
                </div>
                {% endif %}{% endfor %}
                <br />
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Cancel
                </button>
                <form>
                  <button
                    class="btn btn-danger"
                    formaction="/admin/unassign/{{user.id}}"
                    data-bs-dismiss="modal"
                  >
                    Unassign
                  </button>
                </form>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- ASSIGN MODAL -->
      <div
        class="modal fade"
        id="assign{{user.id}}"
        tabindex="-1"
        aria-labelledby="assignModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="assignModalLabel">
                Select the participants you want to assign to {{user.username}}.
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <form method="post">
              <div class="modal-body">
                <br />
                {% for participant in our_participants %} {% if participant.id
                not in assigned_participants %}
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    name="selected_participants[]"
                    value="{{participant.id}}"
                    id="checkAssign{{participant.id}}"
                  />
                  <label
                    class="form-check-label"
                    for="checkAssign{{participant.id}}"
                  >
                    {{participant.username}}
                  </label>
                  <input
                    type="hidden"
                    name="csrf_token"
                    value="{{ session.csrf_token }}"
                  />
                </div>
                {% endif %}{% endfor %}
                <br />
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Cancel
                </button>
                <form>
                  <button
                    class="btn btn-primary"
                    formaction="/admin/assign/{{user.id}}"
                    data-bs-dismiss="modal"
                  >
                    Assign
                  </button>
                </form>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- DELETE MODAL -->
      <div
        class="modal fade"
        id="delete{{user.id}}"
        tabindex="-1"
        aria-labelledby="deleteModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="deleteModalLabel">
                Delete user?
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              Are you sure you want to delete {{ user.username }}
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Cancel
              </button>
              <form>
                <button
                  class="btn btn-danger"
                  formaction="/admin/delete/{{user.id}}"
                  data-bs-dismiss="modal"
                >
                  Delete
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>

      {% endif %} {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
