{% extends "base.html" %} {% block title %}My Diary{% endblock %} {% block
content %}

<h2>Answered Questions</h2>
{% for day in days %}
<h4>Day {{day.day}}</h4>
{% for entry in diary %} {% if entry.day == day.day %}

<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{entry.question}}</h5>
    <p class="card-text">{{entry.answer}}</p>
  </div>
</div>

{% endif %} {% endfor %} {% endfor %}

<br />

<h2>Unanswered Questions</h2>
{% for question in unanswered %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{question.question}}</h5>
  </div>
</div>
{% endfor %} {% endblock %}
